
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adoção p{
    margin-top: 10px;
}

.adoção h3{
    margin-top: 25px;
}

.animal-card {
    margin-top: 20px;
}

.animal-foto{
    border-radius: 10px;
}

.adocao-form {
    margin: auto;
    padding: 1rem;
    background-color: #f3e5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top:30px;
    align-items: center;
    width: 80%;
}

.adocao-form label {
    font-weight: bold;
}

.adocao-form input,
.adocao-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
}

.adocao-form button {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.adocao-form button:hover {
    background: #45a049;
}

.secao-de-conscientizacao {
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

.secao-de-conscientizacao h2 {
    margin-bottom: 1rem;
    margin-top: -30px;
}

.secao-de-conscientizacao p {
    margin-bottom: 1rem;
    text-align: justify;
}


article.artigo-de-cuidado {
    text-align: left;
    padding: 2rem;
    margin: 2rem 0;
    background-color: #ddece5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
}

article h2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 10px;
}

article section {
    margin-bottom: 1.5rem;
}

article section h3 {
    margin-bottom: 0.5rem;
    color: #113102;
    margin-top: 0px;
    margin-bottom: 25px;
}

article section p {
    text-align: justify;
    margin-top: 10px;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    background-color: rgba(245, 247, 241, 0.119);
}

.card {
    background: #ddece5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 30rem;
    text-align: center;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.1);
}

.card h3 {
    text-decoration: none;
}

.card a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 25px;
}

.card p{
    margin-bottom: 20px;
}

.card-imagem img{
    width: 25%;
    margin-bottom: 80px;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: -5px;
    margin-top: -10px;
}

.cuidado-animal{
    text-decoration: none;
    color: #19413a;
}

.card-imagem img:hover{
    transform: scale(1.1);
}

div h3 {
    align-items: center;
    margin-top: 20px;
}

div h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

div h3{
    margin-top: 30px;
}

.denuncia-form button {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.denuncia-form button:hover {
    background-color: #45a049;
}

.denuncia-form {
    margin-left: 75px;
    padding: 1rem;
    background-color: #f3e5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin-top: 40px;
    display: flex;
}

.denuncia-form h3 {
    margin-bottom: 1rem;
}

.denuncia-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.denuncia-form label {
    font-weight: bold;
    margin: 0.5rem 0;
}

.denuncia-form input,
.denuncia-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 120%;
    margin-bottom: 1rem;
}

.denúncia-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 80%;
}

.denúncia-form button:hover {
    background-color: #45a049;
}

.dicas {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #ddece5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dicas h3 {
    margin-bottom: 1rem;
}

.dicas ul {
    list-style-type: none;
    padding: 0;
}

.dicas ul li {
    margin: 0.5rem 0;
    text-align: left;
}

.depoimentos {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #ffebee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.depoimentos h3 {
    margin-bottom: 1rem;
}

.depoimentos p {
    margin-bottom: 1rem;
    text-align: justify;
}

.depoimentos p.author {
    text-align: right;
    font-weight: bold;
}


footer {
    background: #113102;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.fatos {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fatos h3 {
    margin-bottom: 1rem;
}

.fatos ul {
    list-style-type: none;
    padding: 0;
}

.fatos ul li {
    margin: 0.5rem 0;
    text-align: left;
}

header {
    background: #113102;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header .logo {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
    max-width: 900px;
    min-width: 300px;
    background-color: rgb(214, 230, 167);
    border-radius: 5px;
    color: #19413a;
}

nav {
    padding: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #19413a;
}


.recursos {
    margin: 2rem 0;
}

.recursos h3 {
    margin-bottom: 1rem;
}

.recursos ul {
    list-style-type: none;
    padding: 0;
}

.recursos ul li {
    margin: 0.5rem 0;
}

.recursos ul li a {
    color: #113102;
    text-decoration: none;
}

.recursos ul li a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
}

section > p {
    margin-top: 10px;
}

section > h2 {
    margin-top: 10px;
}

section > h3 {
    margin-top: 10px;
}

.sobre h2 {
    margin-bottom: 10px;
    text-align: center;
}

section h2 {
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

